@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0B0F;
  color: #FFFFFF;
  font-family: ui-sans-serif, system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar untuk mobile aesthetic */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0B0B0F;
}
::-webkit-scrollbar-thumb {
  background: #1F1F2E;
  border-radius: 10px;
}


/* Infinite Marquee Animation for Live Ticker */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}